<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxdomP0j8TY_1eFfTZOaVdcqE55_wDquQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1037706652640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>care.symmetry.careGiver</string>
	<key>PROJECT_ID</key>
	<string>prohealth-symmetry</string>
	<key>STORAGE_BUCKET</key>
	<string>prohealth-symmetry.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037706652640:ios:0cd92a79b1429a78b15985</string>
</dict>
</plist>